


#mainTable {
    /*height: auto;
    width:auto;*/
    
    margin-right: auto;
    margin-left: auto;
}

table, th, td {
    text-align: center;
    border: ridge;
    background-image: radial-gradient(to bottom right, #ADDDFF,#DBB67F);
    padding:2px;
    
    
}


body {
    background-image: radial-gradient(#45708F, #8F6B36);
    color:navajowhite
}

th{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}

.headerTitle{
    font-size: 28px;
    font-style:oblique;
}

.HasNotDepartedRow{
    font-size:20px;
}

.HasDepartedRow {
    font-size: 20px;
    text-decoration:line-through;
}




/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.card {
    background-color: rgba(69, 112, 143, 0.7);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*.card:hover {
    background-color: rgba(69, 112, 170, 1.0);
}*/

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-body {
    font-size: 18px;
}
li {
    padding: 2px;
    list-style: none;
}


button.date{
    margin-left:20px;
}



.button {
    display: inline-block; /* Make the button an inline element that can be positioned next to other elements */
    vertical-align: middle; /* Align the button vertically with the text in the <li> tag */
    /* Reset the line height so that the button is the same size as the text */
    /* Add padding to the button to reduce its size and make it easier to click */
    margin-right: 5px; /* Add a margin to the right side of the button to create space between the button and the text */
    background-color: indianred; /* Green */
    border: none;
    color: navajowhite;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    
    border-radius: 180px; /* Rounded corners */
    transition: 0.1s; /* Add a transition effect when the button is hovered over */
}

    .button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Add a shadow when the button is hovered over */
        background-color: #3e8e41; /* Darken the background color when the button is hovered over */
        
    }

    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        max-width:300px;
        
        text-align:center;
        font-family:Arial;
        margin: 20px;
    }

    .card-title{
        color: grey;
        font-size: 18px;
        
    }

.card-content {
    padding: 20px;
    text-align: left;
    transition: ease-in-out;
}

    .show-more-button{
        cursor: pointer;
        color: blue;
    }